
body {
    background-color: rgba(83, 83, 83, 0.947);
    color: black;
    padding: 0;
    margin: 0;
    line-height: 1.8;
}
#brand {
    font-size: 24px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    float: right;
}

ul li{
    font-size: 14px;
    float: right;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.about-section {
    /* background-color: rgb(142, 142, 142); */
    padding: 1rem;
    margin: 1rem;
    width: 45%;
    flex: 1;
    flex-basis: 100%;
    text-align: center;
    border-radius: 10px;
    
}

/* about me clickable element */

.about-me {
    font-size: 5rem;
    color: rgb(54, 54, 54);
    margin: 10rem 0 5% 0;
}

.about-me:hover {
    color: black;
    font-size: 5.5rem;
    margin-bottom: 2rem;
}

.about-me-clicked {
    color: black;
    font-size: 5.5rem;
    margin-bottom: 2rem;
}


/* latest projects clickable element */

.latest-projects {
    font-size: 5rem;
    color: rgb(54, 54, 54);
    margin: 15% 0 15% 0;
}

.latest-projects:hover {
    color: black;
    font-size: 5.5rem;
    margin-bottom: 2rem;
}

.latest-projects-clicked {
    color: black;
    font-size: 5.5rem;
    margin-bottom: 2rem;
}



.bio-show {
    /* display: none; */
    opacity: 0;
    /* transition: opacity 3s ease-in-out; */
    transition-delay: 0.5s;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.show {
    /* display: block; */
    opacity: 1;
    height: auto;
    /* transition: opacity 1s ease-in-out; */
  }

.img-container {
    width: 100%;
    margin-top: 0;
}

.main-img {
    width: 100%;
    height: auto;
    margin-top: 0;
    filter: brightness(20%);
    filter: grayscale(100%);
}


img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
}

.container-card {
    /* max-width: 300px; */
    margin: 0 auto;
    /* margin-top: 20vh; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    /* box-shadow: 5px 1px 1px black; */
}

.container-card h2 {
    flex: 1;
    flex-basis: 100%;
    text-align: center;
}


.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: rgb(151, 150, 150);
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;


}

.card-display {
    opacity: 0;
    transition-delay: 1s;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out, height 1s ease;
    /* display: inherit; */
}

.card-show {
    opacity: 1;
    height: auto;
}

.card img {
    width: 290px;
    height: 192px;
    object-fit: fill;

}

footer {
    /* margin-top: 30%; */
    background-color: #222;
    border-color: #080808;
    border: 1px solid transparent;
    color: #9d9d9d;
    opacity: 80%;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;








}
h4 {
    flex-basis: 100%;
}

.footer-list {
    flex: 1 0 100%;
    justify-self: center;
}

.footer-list a {
    margin: 0 7px 0 7px;
}

@media screen and (max-width: 413px) {

    #nav li a {
        /* color: green; */
        font-size: 12px;
    }

    #brand {
        font-size: 16px;
    }
}

